*{
  margin: 0;
  padding: 0;
}
body{
  font-family: system-ui;
  background: #111;
  color:#fff;
}
@media(min-width: 340px){
  #products{
    width:100%;
  }
  .iog{
    height: 125px;
    width: auto;
  }
  .slide{
    height: 250px;
    width: auto;
  }
  .header-items{
    display: grid;
    grid-template-columns: 100%;
  }
}
@media(min-width: 768px){
  #products{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .iog{
    height: auto;
    width: 100%;
  }
  .slide{
    height: 400px;
    width: auto;
  }
  .header-items{
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media(min-width: 1024px){
  .iog{
    height: auto;
    width: 100%;
  }
  #products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slide{
    height: 500px;
    width: auto;
  }
}
.product{
  border: white 1px dashed;
}
.name{
  width:99%;
}
.buy-btn{
  padding:5px;
  width: 30%;
  margin-left:35%;
  margin-right:35%;
  background: white;
  border: 1px solid black;
}
.btn:hover{
  background: red;
  color:white;
  transition:.5s;
}
.btn:not(hover){
  background: white;
  color:black;
  transition:.5s;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
marquee{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}
.head-buttons{
  padding: 5px;
  border: 3px solid red;
  border-radius: 30px;
  font-size:20px;
  text-decoration: none;
  color: #fff;
  background: #111;
}