@keyframes animation1 {
  0%{
    fill:#faa;
  }
  50%{
    fill:red;
  }
  100%{
    fill:#faa;
  }
}
@keyframes animation2 {
  0%{
    fill:red;
  }
  50%{
    fill:#faa;
  }
  100%{
    fill:red;
  }
}
@keyframes animation3 {
  0%{
    fill: red;
  }
  10%{
    fill:#a00;
  }
  75%{
    fill: red;
  }
  90%{
    fill:#faa;
  }
  100%{
    fill:red;
  }
}
@keyframes animation4 {
  0%{
    fill:#a00;
  }
  50%{
    fill:#faa;
  }
  75%{
    fill:red;
  }
  100%{
    fill:#a00;
  }
}
#i{
  animation: animation1 5s infinite linear;
}
#viii{
  animation: animation1 3s infinite linear;
}
#ii{
  animation: animation2 5s infinite linear;
}
#v{
  animation: animation2 3s infinite linear;
}
#iv{
  animation: animation3 8s infinite linear;
}
#vi{
  animation: animation3 3s infinite linear;
}
#vii{
  animation: animation4 7s infinite linear;
}
#iii{
  animation: animation4 2s infinite linear;
}
